<meta charset="UTF-8" xmlns="http://www.w3.org/1999/html">
<title>Live selfie</title>
</head>
<body>
   <!DOCTYPE html>
   <html lang="en">
      <head>
         <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap" rel="stylesheet">
         <title>Bootstrap Apply Onboarding Form</title>
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
         <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
         <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
         <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
         <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
         <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
         <style>
            * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif
            }
            nav {
            min-height: 70px
            }
            nav .navbar-brand .logo {
            padding: 10px 15px;
            border-radius: 8px
            }
            nav .navbar-brand .logo .h2 {
            margin: 0
            }
            .navbar-light .navbar-nav .nav-link:hover {
            color: #4e2296
            }
            nav .navbar-brand .h4 {
            margin-bottom: 0px;
            font-weight: 900
            }
            nav .navbar-brand .fs-6 {
            font-size: 0.88rem !important
            }
            nav ul li {
            padding: 0 20px
            }
            .navbar-light .navbar-nav .nav-link {
            color: #333
            }
            body {
            letter-spacing: 0.7px;
            background-color: #eeee
            }
            container {
            margin-top: 0px;
            margin-bottom: 0px
            }
         </style>
         <script type="text/javascript" language="javascript">
           let isclicked = false;
           function clickeds(){
             console.log('Hi');
             isclicked = true;
             opencam();
             $('#control').show();
           }

           function isclickedcheck(){
             console.log('opened')
             if(isclicked==true){
               console.log('isClicked');
               var url = "{% url 'accounts:liveCamDoc' %}";
              // Construct the full URL with "id"
               document.location.href = url;
             }
             else {
               console.log('ModalClicked')
               $("#exampleModal").modal('show')
             }
           }

            $(document).ready(function () {
            $('.radio-group .radio').click(function () {
            $('.selected .fa').removeClass('fa-check');
            $('.radio').removeClass('selected');
            $(this).addClass('selected');
            });
            });

            $(document).ready(function() {
              $('#control').hide();
              $('#video').resize(function(){
                $('#cont').height($('#video').height());
                  $('#cont').width($('#video').width());
                  $('#control').height($('#video').height()*0.1);
                  $('#control').css('top',$('#video').height()*0.9 );
                    $('#control').width($('#video').width());
                    $('#control').show();
            });
            function opencam(){
              navigator.getUserMedia= navigator.getUserMedia ||   navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.oGetUserMedia || navigator.msGetUserMedia ;
              if(navigator.getUserMedia)
              {
                navigator.getUserMedia({video:true },  streamWebCam ,throwError) ;


              }







            }

            function closecam(){

              video.pause();

              try {
                video.srcObject = null;
              } catch (error) {
                video.src =null;
              }

              var track = strr.getTracks()[0];  // if only one media track
              // ...
              track.stop();

            }
              var video= document.getElementById('video');
              var canvas= document.getElementById('canvas');
              var context= canvas.getContext('2d');
              var strr;
              function streamWebCam(stream){
              const  mediaSource = new MediaSource(stream);
              try {
                  video.srcObject = stream;
                } catch (error) {
                  video.src = URL.createObjectURL(mediaSource);
                }
                video.play();
                strr=stream;
              }
              function throwError(e){
                alert(e.name);
              }
            $('#open').click(function(event) {
              console.log('Hi');
              opencam();
               $('#control').show();
            });
            $('#open1').click(function(event) {
              console.log('Hi');
              opencam();
               $('#control').show();
            });
            $('#close').click(function(event) {
              closecam();
            });
              $('#snap').click(function(event) {
                  canvas.width=video.clientWidth;
                  canvas.height=video.clientHeight;
                  context.drawImage(video,0,0);
                  $('#vid').css('z-index','20');
                  $('#capture').css('z-index','30');
              });
            $('#retake').click(function(event) {
            $('#vid').css('z-index','30');
            $('#capture').css('z-index','20');
            });
            });
         </script>
      </head>
      <body>
         <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
               <div class="container">
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynav" aria-controls="mynav" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                  <a class="navbar-brand" href="#">
                     <div class="d-flex">
                        <div class="ms-3 d-flex flex-column">
                           <div class="h4">Digital Customer </div>
                           <div class="h4">Onboarding</div>
                        </div>
                     </div>
                  </a>
                  <div class="collapse navbar-collapse" id="mynav">
                     <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <!--   <li class="nav-item"> <a class="nav-link" href="#">Apply for onboarding</a> </li>
                           <li class="nav-item"> <a class="nav-link" href="#">View application status</a> </li> -->
                        <li class="nav-item"> <a class="nav-link" href="{% url 'accounts:logout' %}"> <span class="fas fa-user pe-2"></span> log out</a> </li>
                     </ul>
                  </div>
               </div>
            </nav>
            <div class="container mt-4">
               <div class="row justify-content-center">
                  <div class="col-md-9">
                     <div class="card text-center justify-content-center shaodw-lg card-1 border-0 bg-white px-sm-2">
                        <div class="card-body show ">
                           <div class="radio-group row justify-content-between px-3 text-center a">
                              <div class="flex-row">
                                 <div class="col">
                                    <div class="pic"> <img class="irc_mut img-fluid" src="https://i.imgur.com/MdpKygt.png" width="100" height="100"> </div>
                                    <p>Please click on button and ensure your face is completely visible</p>
                                 </div>
                              </div>
                              <div class="mt-4""> <button type="button" class="btn btn-primary" id='open1' onclick="clickeds()">Turn On your Web cam <span class="ml-2"><i  aria-hidden="true"></i></span> </button> </div>
                              <p class="row justify-content-between">
                              <p></p>
                              <p></p>
                              <p></p>
                              <p></p>
                              <p></p>
                              <p></p>
                              <div class="col-auto"> <button type="button"  class="btn btn-outline-secondary" > <span class="mr-2"> <a class="nav-link" href="{% url 'accounts:Appboard' %}" >Back</a> <i class="fa fa-angle-left" aria-hidden="true"></i></span> </button> </div>
                              <div class="col-auto"> <button type="button" class="btn btn-outline-secondary" onclick="isclickedcheck()"> <span class="mr-2"> <a class="nav-link"  >Next</a> <i class="fa fa-angle-right" aria-hidden="true"></i></span> </button> </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
               <div class="modal-dialog">
                 <div class="modal-content">
                   <div class="modal-header">
                     <h5 class="modal-title" id="exampleModalLabel">You haven't clicked your picture.</h5>
                     <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                   </div>
                   <div class="modal-body">
                     You need to click a picture of yourself before proceeding.
                   </div>
                   <div class="modal-footer">
                     <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                   </div>
                 </div>
               </div>
             </div>
            </div>
         </header>
      </body>
   </html>
</body>
</html>
